<!DOCTYPE html>
<html>
<body style='background-color: #222533; padding: 20px; font-size: 14px; line-height: 1.43; font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;'>
<div style="max-width: 600px; margin: 0px auto; background-color: #fff; box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);">
    <table style="width: 100%;">
        <tr>
            <td style="background-color: #fff;"><img alt="" src="{{siteLogo}}" style="width: 70px; padding: 20px;" /></td>
            <td style="padding-left: 50px; text-align: right; padding-right: 20px;">
                <a href="{{siteBaseUrl}}" style="color: #4b72fa; text-decoration: underline; font-size: 14px; margin-left: 20px; letter-spacing: 1px;">{{siteName}}</a>
            </td>
        </tr>
    </table>
    <div style="padding: 60px 70px; border-top: 1px solid rgba(0, 0, 0, 0.05);">
        <h1 style="margin-top: 0px;">Hi {{userName}},</h1>
        <div style="color: #636363; font-size: 14px;">You recently requested to reset your password for your {{siteName}} account. Click the button below to reset it.</div>
        <a href="{{userLink}}" style="padding: 8px 20px; background-color: #4b72fa; color: #fff; font-weight: bolder; font-size: 16px; display: inline-block; margin: 20px 0px; margin-right: 20px; text-decoration: none;">Reset your password</a>
        <div style="max-width: 600px; margin: 10px auto 20px; font-size: 12px; color: #a5a5a5; text-align: left;">
            If the link doesn’t work, copy this URL into your browser: <p><a href="{{userLink}}" style="font-size: 14px;  color: #4b72fa;; text-decoration: underline;">{{userLink}}</a></p>
        </div>
        <div style="color: #636363; font-size: 14px; margin-top: 30px;">
            If you did not request a password reset, please ignore this email or reply to let us know. <br />
            <br />
            Thanks,<br />
            {{siteName}} Support Team.
        </div>
        <h4 style="margin-bottom: 10px;">Questions?</h4>
        <div style="color: #a5a5a5; font-size: 12px;">
            <p>If you have any questions you can simply reply to this email or find our contact information below. Also contact us at <a href="#" style="text-decoration: underline; color: #4b72fa;">{{siteEmail}}</a></p>
        </div>
    </div>
    <div style="background-color: #f5f5f5; padding: 40px; text-align: center;">
        <div style="margin-bottom: 20px;">
            <a href="#" style="display: inline-block; margin: 0px 10px;"><img alt="" src="/twitter_qp2qmu.png" style="width: 28px;" /></a>
            <a href="#" style="display: inline-block; margin: 0px 10px;"><img alt="" src="/facebook_fplra4.png" style="width: 28px;" /></a>
            <a href="#" style="display: inline-block; margin: 0px 10px;"><img alt="" src="/instagram_u7zf6m.png" style="width: 28px;" /></a>
            <a href="#" style="display: inline-block; margin: 0px 10px;"><img alt="" src="/linkedin_xvk16b.png" style="width: 28px;" /></a>
        </div>
        <div style="margin-bottom: 20px;">
            <a href="{{siteContactUrl}}" style="text-decoration: underline; font-size: 14px; letter-spacing: 1px; margin: 0px 15px; color: #261d1d;">Contact Us</a>
            <a href="{{siteBaseUrl}}" style="text-decoration: underline; font-size: 14px; letter-spacing: 1px; margin: 0px 15px; color: #261d1d;">Privacy Policy</a>
        </div>
        <div style="color: #a5a5a5; font-size: 12px; margin-bottom: 20px; padding: 0px 50px;">You are receiving this email because you requested to reset your account password</div>
        <div style="margin-bottom: 20px;">
            <a href="#" style="display: inline-block; margin: 0px 10px;"><img alt="" src="img/market-google-play.png" style="height: 33px;" /></a>
            <a href="#" style="display: inline-block; margin: 0px 10px;"><img alt="" src="img/market-ios.png" style="height: 33px;" /></a>
        </div>
        <div style="margin-top: 20px; padding-top: 20px; border-top: 1px solid rgba(0, 0, 0, 0.05);">
            <div style="color: #a5a5a5; font-size: 10px; margin-bottom: 5px;">{{siteAddress}}</div>
            <div style="color: #a5a5a5; font-size: 10px;">Copyright {{date}} {{siteName}}. All rights reserved.</div>
        </div>
    </div>
</div>
</body>
</html>
